.produtos {
align-items: center;
text-align: center;
}

.produtos__li {
    padding: 2em 0;
}

.produtos__ancora {
    text-decoration: none;
    color: #000000;
}

.produtos__imagem {
    width: 80%;
}

.produtos__titulo {
    font-size: 20px;
    font-weight: 700;
    padding-top: 0.5em;
}

.produtos__valor {
    padding-top: 0.5em;
}

@media screen and (min-width: 480px) {
    .produtos__imagem {
        width: 100%;
    }

    .produtos {
        width: 80%;
        margin: 0;
    }

    .produtos__li {
        padding: 0 0 2em 0;
    }
}

@media screen and (min-width: 670px) {
    .produtos__lista {
        display: flex;
        flex-wrap: wrap;
    }

    .produtos__li {
        width: 50%;
    }
}

@media screen and (min-width: 770px) {
    .produtos {
        width: 85%;
    }
    
    .produtos__li {
        width: 20%;
    }
}

@media screen and (min-width: 1000px) {
    .produtos__titulo, .produtos__valor {
        color: #ffffff;
    }

    .produtos__aparecer {
        color: #000000;
    }
}