@import url("header.css");
@import url("categorias.css");
@import url("produtos.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Josefin+Sans:wght@400;700&family=Montserrat&family=Poppins:wght@300;400;500;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

body {
    font-family: 'Roboto';
}

@media screen and (min-width: 480px) {
    .main {
        display: flex;
    }
}

@media screen and (min-width: 1000px) {
    .main {
        padding: 0 5%;
    }
}